.carrito-box {
    background: #11131f;
    border: 1px solid #030914;
    padding: 20px;
    border-radius: 10px;
}
/* HEADER TABLA */
.carrito-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 3.5%;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #0035a8;
    color: #cfcfcf;

    align-items: center;
    text-align: center;
}
.producto {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #0035a8;
    color: white;
}
.info {
    display: flex;
    align-items: center;
    gap: 15px;
}
.info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: #030c21;
}
.info h3 {
    margin-bottom: 5px;
    color: white;
}
.info small {color: #777;}
.editar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
}
.precio {
    text-align: center;
    color: white;
}
.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: whitesmoke;
}
.cantidad button {
    width: 30px;
    height: 30px;
    border: 1px solid #001c58;
    background: #11131f;
    cursor: pointer;
    color: white;
}
.cantidad span {
    width: 20px;
    text-align: center;
    color: white;
}
.subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}
#subtotal {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
}
.eliminar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: auto;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 20px;
    gap: 10px;
    color: white;
}
.acciones {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}
.seguir {
    padding: 10px 20px;
    border: 1px solid #0049e6;
    background: #007fe6;
    cursor: pointer;
    color: white;
}
.finalizar {
    padding: 10px 20px;
    border: none;
    background: #0049e6;
    color: white;
    cursor: pointer;
}
/*STILOS SI LA SESION NO ESTA HABILITADAS*/
/* CONTENEDOR GENERAL */
.no-session {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}
.no-session h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}
.no-session p {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}
#btnLogin {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btnLogin:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}
#btnLogin:active {transform: scale(0.95);}