*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:#f5f5f5;
}
/* ===== HEADER ===== */
header{
    background:white;
    border:1px solid #ccc;
    padding:20px 40px;
    position:relative;
}
.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
/* BOTON MENU MOBILE */
.menu-toggle{
    display:none;
    font-size:24px;
    cursor:pointer;
}
.catalogo{
    cursor:pointer;
}
.logo{
    position:absolute;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
    max-width:150px;
}
.logo img{
    width:100%;       
    height:auto;      
    object-fit:contain;
}
/* MENU DERECHO */
.right-menu{
    display:flex;
    gap:20px;
    align-items:center;
}
.carrito,
.login{
    cursor:pointer;
}
/* ===== MENU MOVIL ===== */
.mobile-menu{
    display:none;
    background:white;
    border-top:1px solid #ccc;
    padding:15px;
}
.mobile-menu p{
    padding:10px 0;
    cursor:pointer;
}
/* ===== FOOTER ===== */
footer{
    margin-top:60px;
    border-top:1px solid #ccc;
    padding:30px 40px;
    background:white;
}
.footer-content{
    display:flex;
    justify-content:space-between;
}
.social{
    cursor:pointer;
    text-decoration: none; 
    color: inherit;        
}