/*documento, header,main,footer   ACA NO ESTA NI PRODUCTOS NI HISTORAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid #ccc;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

/*MAIN*/

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px; 
}


.breadcrumb {
    color: #777;
    margin-bottom: 10px;
    cursor: pointer;
}

/* TITULO */
h1 {
    margin-bottom: 20px;
}


/* FOOTER */
footer {
    margin-top: 60px;
    border-top: 1px solid #ccc;
    padding: 30px 40px;
    background: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.social {
    cursor: pointer;
}