/* ===== RESET ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#dad9d1; /*🎨 #f5f5f5;*/
}

/* ===== HEADER ===== */
header{
    background:#000000; /*🎨 white;*/
    border:1px solid #6d6c68;/*🎨 #ccc*/
    padding:20px 40px;
    position:relative;
    color:#dad9d1; /*🎨 comentar linea*/
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* BOTON MENU MOBILE */
.menu-toggle{
    display:none;
    font-size:24px;
    cursor:pointer;
}

/* CATALOGO */
.catalogo{
    cursor:pointer;
}

/* LOGO */
.logo{
    position:absolute;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
    max-width:150px;
}

.logo img{
    width:40%;       /* ocupa el contenedor */
    height:auto;      /* mantiene proporción */
    object-fit:contain;
}

/* MENU DERECHO */
.right-menu{
    display:flex;
    gap:20px;
    align-items:center;
}

.carrito,
.login{
    cursor:pointer;
}

/* ===== MENU MOVIL ===== */
/*burger*/
.mobile-menu{
    display:none;
    background:#000000; /*🎨 white;*/
    border-top:1px solid #6d6c68; /*🎨 #ccc*/
    padding:15px;
    color: /*white;*/ #dad9d1; /*🎨 comentar linea*/
}

.mobile-menu p{
    padding:10px 0;
    cursor:pointer;
}

/* ===== FOOTER ===== */
footer{
    margin-top:60px;
    border-top:1px solid #6d6c68; /*🎨 #ccc*/
    padding:30px 40px;
    background:#000000; /*🎨 white;*/
    color: #dad9d1; /*🎨 comentar linea*/
}

.footer-content{
    display:flex;
    justify-content:space-between;
}

.social{
    cursor:pointer;
    text-decoration: none; 
    color: inherit;        
}
