.avatar {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

.avatar:hover {
    background-color: #555;
}