/* ===== FONDO MODAL ===== */
.modalRegistro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;

    overflow-y: auto; /* 🔥 permite mover el modal en pantallas pequeñas */
}
/* ===== CAJA MODAL ===== */
.modalRegistro-box {
    background: #00133a;
    padding: 30px;
    border-radius: 12px;
    width: 420px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;

    max-height: 90vh;   /* 🔥 límite de altura */
    overflow-y: auto;   /* 🔥 scroll interno */
}

/* ===== TITULO ===== */
.modalRegistro-box h2 {
    text-align: center;
    color: white;
}

/* ===== BOTON CERRAR ===== */
.cerrarRegistro {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

/* ===== FILA NOMBRE ===== */
.filaRegistro {
    display: flex;
    gap: 10px;
}

.filaRegistro input {
    width: 100%;
    background: #2f365d;
}

/* ===== INPUTS ===== */
.modalRegistro-box input {
    padding: 10px;
    border: 1px solid #11131f;
    border-radius: 8px;
    background: #2f365d;
}

/* ===== BOTON ===== */
.modalRegistro-box button {
    padding: 12px;
    border: none;
    background: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.modalRegistro-box button:hover {
    background: #000;
}

/* ===== TERMINOS ===== */
.terminos-boxRegistro {
    font-size: 13px;
    color: white;
}

#toggleTerminos {
    color: rgb(125, 182, 243);
    cursor: pointer;
    text-decoration: none;
}

/* 🔥 CONTENEDOR SCROLL TERMINOS */
.contenido-terminosRegistro {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    background: #2f365d;
    color: whitesmoke;
    padding: 10px;
    border-radius: 6px;

    max-height: 150px;   /* 🔥 altura fija */
    overflow-y: auto;    /* 🔥 scroll SOLO aquí */
}

.contenido-terminosRegistro.activo {
    display: block;
}

/* ===== LOGIN LINK ===== */
.login-linkRegistro {
    text-align: center;
    font-size: 14px;
    color: white;
}

#irLogin {
    color: rgb(125, 182, 243);;
    cursor: pointer;
    text-decoration: none;
}

/* ===== PASSWORD ===== */
.password-boxRegistro {
    position: relative;
    display: flex;
    align-items: center;
}

.password-boxRegistro input {
    width: 100%;
    padding-right: 40px;
}

#togglePassword {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 500px) {

    .modalRegistro-box {
        width: 90%;
        padding: 20px;
    }

    .filaRegistro {
        flex-direction: column;
    }
}

/* ===== BLOQUEAR SCROLL FONDO ===== */
body.modal-abierto {
    overflow: hidden;
}